@font-face {
    font-family: "Sha";
    src: url("./fonts/SHALOEMS.otf");
}

@font-face {
    font-family: "Mont";
    src: url("./fonts/MONTSERRATALTERNATES-EXTRALIGHT.otf");
}

@font-face {
    font-family: "Gil";
    src: url("./fonts/GILROY-BLACK.OTF");
    font-weight: 700;
}

@font-face {
    font-family: "Gil";
    src: url("./fonts/GILROY-SEMIBOLD.OTF");
    font-weight: 500;
}

@font-face {
    font-family: "Gil";
    src: url("./fonts/GILROY-MEDIUM.OTF");
    font-weight: 400;
}

@font-face {
    font-family: "Gil";
    src: url("./fonts/GILROY-REGULAR.OTF");
    font-weight: 300;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100%;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 0.5vmax;
}

::-webkit-scrollbar-thumb {
    background-color: #f2cc81;
}

.resume-btn {
    position: fixed;
    right: 2vmax;
    top: 1vmax;
    z-index: 1111;
    padding: 0.9vmax 1.5vmax;
    border-radius: 5vmax;
    border: none;
    color: #fff;
    font: 500 1vmax "GIl";
    cursor: pointer;
    display: flex;
    align-items: center;
    box-shadow: 0 0 2vmax #fc626a;
    background: linear-gradient(to right, #fe7d84, #fc626a);
    transition: 1s all;
}

/* ----------page1--------------- */

.page1 {
    width: 100vw;
    height: 100vh;
    padding: 0 2vmax;
    /* margin-top: 10vh; */
    background-image: url(./images/page1-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.page1 > h1 {
    font: 700 4vmax "Gil";
    color: #fff;
}

.myname {
    color: #fc626a;
    font-size: 5vmax;
    font-weight: 900;
    line-height: 3vmax;
}

.designation {
    color: #51cde7;
}

/* -----------page2---------- */

.page2 {
    width: 100vw;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2vmax;
    position: relative;
}

.page2 > h1 {
    font: 400 4vmax "Gil";
    text-align: center;
    width: 55vw;
}

.minimal {
    font-family: "Mont";
    color: #fc626a;
}

.page2 > p {
    font: 300 1vmax "Gil";
    text-align: center;
    margin: 1vmax 0;
    width: 50vw;
}

.page2-btns > button:first-of-type {
    box-shadow: 0 0 1vmax #43c6e2;
    background: linear-gradient(to left, #43c6e2, rgb(133, 227, 248));
}

.page2-btns > button {
    padding: 0.9vmax 1.5vmax;
    border-radius: 5vmax;
    border: none;
    color: #fff;
    font: 500 1vmax "Gil";
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 0.5vmax;
    transition: 1s all;
}

.page2-btns {
    display: flex;
}

.page2-btns > button:first-of-type {
    box-shadow: 0 0 1vmax #43c6e2;
    background: linear-gradient(to left, #43c6e2, rgb(133, 227, 248));
    margin-right: 2vmax;
}

.page2-btns > button:last-of-type {
    box-shadow: 0 0 2vmax #fc626a;
    background: linear-gradient(to right, #fe7d84, #fc626a);
}

.page2-btns > button:last-of-type a {
    display: flex;
    align-items: center;
}

.page2-btns > button:last-of-type > a > i {
    font-size: 1.5vmax;
}

.glow {
    position: absolute;
    opacity: 0.3;
    z-index: -11;
}

.purpleglow {
    bottom: 20%;
    left: 0;
}

.blueglow {
    top: 20%;
    right: 20%;
    width: 15vmax;
}

.redglow {
    bottom: 0;
    right: 0;
    width: 20vmax;
}

/* -----------page3-------------- */

.page3 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5vmax 5vmax;
}

.page3-title {
    font: 500 3vmax "Gil";
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1vmax;
    color: #4e4e4e;
}

.page3-title > hr {
    margin-left: 2vmax;
    width: 5vmax;
    height: 0.1vmax;
    background-color: rgb(204, 202, 202);
    border: none;
}

.page3 > p {
    font: 400 1.2vmax "Gil";
    color: rgb(97, 96, 96);
    margin-bottom: 5vmax;
}

.good {
    color: #51cde7;
}

.page3 .heading {
    font: 500 5vmax "Gil";
    color: #5d5d5d;
    position: relative;
    z-index: 1;
}

.des-heading {
    transform: translate(25%, 35%);
}

.page3-holder {
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.box {
    width: 70vw;
    height: 8vmax;
    background-color: rgb(248, 248, 248);
    border-radius: 0.5vmax;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-shadow: 0 0 2vmax rgba(133, 227, 248, 0.2);
}

.dev-box {
    width: 70vw !important;
    transform: translate(8%, -30%);
}

.box > img {
    width: 4vmax;
}

.figmaimg {
    width: 2.6vmax !important;
}

/* ----------page4--------------------- */
.page4 {
    width: 100vw;
    height: 100vh;
    padding: 0 5vmax;
}

.page4-title {
    font: 500 3vmax "Gil";
    display: flex;
    align-items: center;
    margin-bottom: 1vmax;
    color: #4e4e4e;
}

.page4-title > hr {
    margin-left: 2vmax;
    width: 5vmax;
    height: 0.1vmax;
    background-color: rgb(204, 202, 202);
    border: none;
}

.page4 > p {
    font: 400 1.2vmax "Gil";
    color: rgb(97, 96, 96);
    margin-bottom: 5vmax;
}

.love {
    color: #fc626a;
}

.image-wrapper {
    display: flex;
    justify-content: space-between;
}

.image-wrapper img {
    display: flex;
    width: 23vmax;
    margin-bottom: 2vmax;
}

.internal-col1 {
    display: flex;
    justify-content: space-between;
}

.internal-col1 > img {
    width: 10.5vmax;
}

.internal-col2 > img {
    width: 10.5vmax;
}

.page4-subheading {
    font: 500 9vmax "Gil";
    line-height: 9vmax;
    text-align: right;
    transform: translateY(-50%);
}

.artwork {
    color: #fc626a;
}

/* -------page5--------------- */

.page5 {
    width: 100vw;
    height: 100vh;
    padding: 0 2vmax;
    margin-top: 10vh;
    background-color: #414040;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.page5 > h1 {
    font: 700 9vmax "Gil";
}

.mail {
    color: #fc626a;
}

.instagram {
    color: #f6ba53;
}

.linkedin {
    color: #51cde7;
}

footer {
    display: flex;
    align-items: center;
    padding: 2vmax 0;
    /* font-family: "Mont";
    font-size: 1.2vmax; */
    font: normal 1.2vmax "Mont";
}

.author {
    font: normal 4vmax "Sha";
}

footer > img {
    width: 2vmax;
    margin: 0 0.5vmax;
}

/* ----------------- for all----------------- */
a {
    color: inherit !important;
    text-decoration: none;
    transition: 0.5s all;
}

a:hover {
    text-decoration: line-through;
}
